.general {
    width: 40%;
}

select:required:invalid {
    color: gray;
}
option[value=""][disabled] {
    display: none;
    color: gray;
}

textarea {
    outline: none;
    resize: none;
    height: 200px;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 1em;
}

input {
    padding-left: 5px;
}

.wrapper {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 
input[type="checkbox"] {
    width: 12px;
}
.list {
    color: gray;
    font-size: 0.75em;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    height:100%;
}

.fields {
    width: 30%;
    font-size: 15px;
    height: 60vh;
}

.general {
    height: 60vh;
}

.sub-header {
    display: flex;
    align-items: center;
    color: gray;
    width: 90%;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid rgb(22, 202, 175);
    position: sticky;
}

.medium-button {
    width: 100px;
    height: 40px;
}

.done-wrapper {
    margin-top: 20px;
    
}

.left {
    float: right;
}