:root {
  font-family: Helvetica, Avenir, system-ui, Arial, sans-serif;
  background-color: rgb(0, 31, 48);

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
  }
}

body {
  margin: 0 auto;
}

textarea {
  font-family: inherit;
  font-size: 1em;
}

input:focus {
  background-color: transparent;
  color: white;
}

/*
textarea is styled separately
https://stackoverflow.com/questions/69452849/what-is-the-default-css-of-a-textarea
*/

/*
Image Links
https://www.freepik.com/icon/job-seeker_5941735

*/